.wrapper {

    .in {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        margin-left: -12px;
        margin-right: -12px;

        .part {
            min-height: 200px;
            margin: 0 12px;

            &:nth-child(1) {
                flex: 0 0 485px;
            }


            .main {
                
                .img {
                    margin-bottom: 25px;
                }

                .title {
                    margin-bottom: 20px;
                }
            }

            .ex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .body {
                    padding-right: 15px;

                    .title {
                        margin-bottom: 20px;
                    }
                }

                &:first-child {
                    margin-bottom: 40px;
                }

                // display: flex;

            }
        }
    }
}


@media (max-width: 1200px) {

    .wrapper {

        .in {
            flex-wrap: wrap;

            .part {

                &:nth-child(1) {
                    width: 100%;
                    flex: unset;

                    .main {
                        .img {
                            justify-content: center;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        .in {
            padding: 25px 0;

            .part {

                .main {
                    .img {

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }
                    .title {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }

                
                .ex {
                    flex-wrap: wrap;

                    .img {
                        width: 100%;
                        order: -1;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 26px;
                        margin-top: 30px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }
                    .body {
                        .title {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}