.wrapper {
    .in {
        color: #fff;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
            height: 350px;
        }

        .main {
            flex: 0 0 518px;
            .title {
                margin-bottom: 15px;
            }
            .text {
                margin-bottom: 15px;    
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        .in {
            flex-direction: column;
            align-items: center;
            .img {
                margin-bottom: 40px;
            }
            .main {
                flex: unset;
            }
        }
    }
}

@media (max-width: 520px) {
    .wrapper {
        .in {
            padding: 30px;
            .img {
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }
        }
    }
}