.wrapper {
    .in {
        padding: 50px 0;
        display: flex;


        .main {
            flex: 0 0 410px;
            padding-right: 60px;
            display: flex;
            flex-direction: column;

            .title {
                margin-bottom: 20px;
            }

            .text {
                margin-bottom: 40px;
            }

            .main_top {
                .nav {
                    display: none;
                }
            }

            .pop {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: var(--blue);
                cursor: pointer;
                transition: all .3s ease; 
                margin-bottom: 40px;
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 100%;
                    background-color: var(--yellow);
                    border-radius: 100%;
                    color: #fff;
                    width: 44px;
                    height: 44px;
                    padding-left: 4px;
                    margin-right: 13px;
                    font-size: 25px;
                    flex: 0 0 auto;
                }
                &:hover {
                    color: var(--yellow);
                }
            }

            .demo {
                .head {
                    margin-bottom: 15px;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: -0.0026em;
                }

                .text {
                    a {
                        color: var(--black);
                        transition: all .3s ease;

                        &:hover {
                            color:var(--blue);
                        }
                        span {
                            
                            color: var(--blue);
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 100%;
                            margin-left: 5px;
                        }
                    }
                }
            }

            .nav {
                flex: 1 0 auto;
                align-items: flex-end;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 50px;
            }
        }

        .body {
            width: 100%;
            overflow: hidden;
            border-radius: 14px;
            box-shadow: 0px 25px 50px -12px rgba(153, 153, 153, 0.25); 

            .slider {
                
                .slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }
        }   
    }
}


@media (max-width: 1200px) {

    .wrapper {
        .in {
            flex-wrap: wrap;

            .main {
                flex: unset;
                width: 100%;
                flex-direction: row;
                padding: 0;

                .main_top {
                    width: calc(50% + 20px);
                    padding-right: 20px;

                    .nav {
                        display: flex;
                        justify-content: flex-start;
                    }
                }
                .nav {
                    display: none;
                }
            }

            .body {
                flex: unset;
                width: 100%;
            }
        }
    }
}


@media (max-width: 768px) {
    .wrapper {

        .in {
            padding: 25px 0;

            .main {
                flex-wrap: wrap;

                .title {
                    font-size: 22px;
                    line-height: 30px;

                }
                .text {
                    margin-bottom: 20px;
                }

                .pop {
                    margin-bottom: 20px;
                }

                .main_top {
                    padding-right: 0;
                    width: 100%;    

                    .nav {
                        display: none;
                    }
                }

                .nav {
                    width: 100%;
                    display: flex;
                }
            }
        }
    }
}