.wrapper {

    .in {
        padding: 40px 0;

        .title {
            margin-bottom: 40px;
        }
    }
}


@media (max-width: 768px) {
    .wrapper {
        .in {
            padding: 25px 0;

            .title {
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
}